<main>
    <div class="row">
        <div class="col-xs-12">
            <h1 class="title">Word <img class="logo" src="img/logo.png"/> Game</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-offset-2 col-xs-8 instructions">
            <em>Get as many correct words as possible in 40 seconds. As soon as you click inside the input, the timer will start.</em>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <div class="time">Time: {{time}}</div>
        </div>
        <div class="col-xs-6">
            <div class="max-score">Score: {{score}}</div>
        </div>
    </div>
    <div class="border-container">
        <div class="row game-container">
            <div class="col-xs-6 game">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="scrambled-word">{{appCtrl.randomScrambledWord}} - {{appCtrl.randomSolvedWord}}</div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="solved-word">
                            <input ng-model="word" ng-keydown="verifyIfDelete($event)" ng-change="verifyWord()"
                                   ng-class="{correct: correct, wrong: wrong}" ng-focus="startGame()">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6">
                <div class="row">
                    <div class="col-xs-12">
                        High Scores
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <table>
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Score</th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="player in players track by $index">
                                    <td>{{ player.name }}</td>
                                    <td>{{ player.score }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="loading-screen" ng-show="showLoadingScreen"><img src="img/loading.gif"/></div>
</main>